@import '../../scss/general.scss';

.menu_item {
  width: 10em;
  height: 100px;
  border: 3px double $txt-color;
  background-color: rgba(25, 25, 25, 1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 0.5em;
  text-align: center;
  text-wrap: wrap;
  font-size: 1.1em;

  &:hover {
    color: $btn-color-hover;
    transform: scale3d(1.05, 1.05, 1);
    transition: 0.3s;
  }

  &:hover>a>h4 {
    color: $btn-color-hover;
  }

}