@import '../../scss/general.scss';

.nav_wrapper {
  font-size: 0.8em;
  margin: 5px;
  // line-height: 0.5em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: end;
}

.nav_item {
  text-align: center;
  flex-shrink: 0;
  color: red;
}

.nav_item>a {
  color: $txt-color;
}

.nav_item:hover {
  transition: 0.3s;
  transform: scale(1.1);
  text-decoration: underline;

}

.nav_item.active_link {
  color: $btn-color-hover;
}

.nav_item.active_link>a {
  color: $btn-color-hover;
  text-decoration: underline;
}

.home_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("/src/assets/home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}